.painel {
    width: 90vw;
    height: 40vw;
    margin-top: 3vh;
    background-color: #e5e5e5;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.titulo-painel {
    width: 100%;
    height: 10%;
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
}

.campos-painel {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coluna {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3%;
}

.campo {
    box-sizing: border-box;
    width: 90%;
    height: 14%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    .campo h2 {
        box-sizing: border-box;
        font-size: 1.8vw;
        width: 100%;
        margin: 0;
    }

    .campo input {
        box-sizing: border-box;
        width: 100%;
        max-height: 50%;
        padding: 0.9vw;
    }

    .campo select {
        box-sizing: border-box;
        width: 100%;
        max-height: 2.3vh;
        font-size: 2vh;
    }

.botoes-painel {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

    .botoes-painel input {
        width: 12vw;
        height: 4vw;
        border-radius: 10px;
        font-size: 1.5vw;
        cursor: pointer;
    }

        .confirmar {
            background-color: #c0d9ff;
        }

        .cancelar {
            background-color: #ffffc0;
        }

        .botoes-painel input:hover {
            text-decoration: underline;

        }




/* ==================== */
/* Área dos Itens       */
/* ==================== */

.areaItens {
    width: 90%;
    margin:2vh auto;
}

    .areaItens h1 {
        font-size: 2.5vw;
        margin-bottom: 1vw;
        font-weight: bold;
    }

/* Container do item gerado em C# */
.card-item-pedido {
    width: 100%;
    padding: 1.2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000030;
    display: flex;
    gap: 0.2vw;
    align-items:center;
}

    /* Labels de dentro do Card */
    .card-item-pedido label {
        font-size: 1.2vw;
        margin: 0;
        font-weight: 500;
    }

        .card-item-pedido label strong {
            font-weight: bold;
        }

.btn-remover-item {
    align-self: flex-end;
    margin-top: 0.5vw;
    padding: 0.3vw 0.7vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    background-color: #d9534f;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    transition: 0.2s;
}

    .btn-remover-item:hover {
        background-color: #c9302c;
        transform: scale(1.1);
    }





@media (max-width: 480px) {
    .painel {
        height: 50vh;
        border-radius: 10px;

    }

    .titulo-painel {
        height: 7%;
        font-size: 5vw;
    }

    .campos-painel {
        height: 80%;
    }

        .campo h2{
            font-size: 3vw;
        }

        .campo input {
            padding: 0.5vw;
        }


    .botoes-painel {
        height: 7%;
    }

        .botoes-painel input {
            width: 20vw;
            height: 5vw;
            border-radius: 5px;
            font-size: 3vw;
        }
}