main { /*fundo da página, branco*/
    padding: 2vw 0;
    height: auto;
    background-color: #ffffff;
}

.painel {
    width: 85vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d9d9d9;
    border-radius: 3vw;
}

.titulo-painel {
    width: 90%;
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .titulo-painel h1 {
        font-size: 3.5vw;

        width: 100%;
    }

.campos-painel {
    width: 90%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coluna {
    width: 33.3333333333333333333333333333333333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3%;
}

.campo {
    box-sizing: border-box;
    width: 90%;
    height: 14%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    .campo h2 {
        box-sizing: border-box;
        font-size: 1.25vw;

        width: 100%;
        margin: 0;
    }

    .campo input {
        box-sizing: border-box;
        width: 100%;
        max-height: 50%;
        padding: 1rem 0.8rem;
    }

    .campo select {
        box-sizing: border-box;
        width: 100%;
        max-height: 50%;
    }

.botoes-painel {
    width: 90%;
    height: 10%;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

    .botoes-painel input {
        width: 10vw;
        height: 3vw;
        font-size: 2vw;
        border-radius: 30px;
        cursor: pointer;
    }

        .confirmar {
            background-color: #c0d9ff;
        }

        .cancelar {
            background-color: #ffffc0;
        }

        .botoes-painel input:hover {
            text-decoration: underline;

        }
