main { /*fundo da página, branco*/
    padding: 2vw 0;
    height: auto;
    background-color: #ffffff;
}

.painel {
    width: 85vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d9d9d9;
    border-radius: 3vw;
}

.titulo-painel {
    width: 90%;
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .titulo-painel h1 {
        font-size: 3.5vw;

        width: 100%;
    }

.campos-painel {
    width: 90%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coluna {
    width: 33.3333333333333333333333333333333333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3%;
}

.campo {
    box-sizing: border-box;
    width: 90%;
    height: 14%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    .campo h2 {
        box-sizing: border-box;
        font-size: 1.25vw;

        width: 100%;
        margin: 0;
    }

    .campo input {
        box-sizing: border-box;
        width: 100%;
        max-height: 50%;
        padding: 1rem 0.8rem;
    }

    .campo select {
        box-sizing: border-box;
        width: 100%;
        max-height: 2.3vh;
        font-size: 2vh;
    }

.botoes-painel {
    width: 90%;
    height: 10%;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

    .botoes-painel input {
        width: 10vw;
        height: 3vw;
        font-size: 2vw;
        border-radius: 30px;
        cursor: pointer;
    }

        .confirmar {
            background-color: #c0d9ff;
        }

        .cancelar {
            background-color: #ffffc0;
        }

        .botoes-painel input:hover {
            text-decoration: underline;

        }




/* ==================== */
/* Área dos Itens       */
/* ==================== */

.areaItens {
    width: 90%;
    margin-top: 2vw;
}

    .areaItens h1 {
        font-size: 2.5vw;
        margin-bottom: 1vw;
        font-weight: bold;
    }

/* Container do item gerado em C# */
.card-item-pedido {
    width: 100%;
    padding: 1.2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000030;
    display: flex;
    gap: 0.2vw;
    align-items:center;
}

    /* Labels de dentro do Card */
    .card-item-pedido label {
        font-size: 1.2vw;
        margin: 0;
        font-weight: 500;
    }

        .card-item-pedido label strong {
            font-weight: bold;
        }

.btn-remover-item {
    align-self: flex-end;
    margin-top: 0.5vw;
    padding: 0.3vw 0.7vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    background-color: #d9534f;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    transition: 0.2s;
}

    .btn-remover-item:hover {
        background-color: #c9302c;
        transform: scale(1.1);
    }
