* {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
h1, h2, a, p, span,  button,input {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    width: 100%;
    height: 120px;
    background-color: #215ACC;
    display: flex;
    z-index: 9999;
    position: fixed;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
header span{
    font-size:2vw;
}
.logo {
    width: 10vw;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.logo  img{
    width:100%;
}

.menu-pc {
    display: flex;
    width: 70%;
    align-items: center;
    margin-right: 5%;
}

    .menu-pc div a {
        color: white;
        text-decoration: none;
        font-family: anton;
        font-size: 30px;
    }

        .menu-pc div a:hover {
            color: #ededed;
        }


/* pra esconder o mobile, na versao de pc */
.burguer,
.espaco-mobile {
    display: none;
}

.menu-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 99999999;
}

    .menu-lateral.ativo {
        transform: translateX(0);
    }

.conteudo-menu {
    padding: 20px;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

    .cabecalho-menu h2 {
        margin: 0;
        width: 85%;
    }

.botao-fechar {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.conteudo-menu ul {
    list-style: none;
    padding: 0;
}

.conteudo-menu li {
    margin: 15px 0;
}

.conteudo-menu a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
}

    .conteudo-menu a:hover {
        color: #c0c0c0;
    }



.espaco-header {
    width: 100%;
    height: 120px;
}


@media (max-width: 480px) {

    header {
        width: 100%;
        height: 65px;
        display: flex;
    }

    .espaco-mobile {
        display: block;
        width: 40%;
    }

    .logo,
    .burguer {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .botao-menu{
        width: 35%;
        height: auto;
    }

        .logo img {
            width: 70%;
            height: 80%;
        }

        .burguer img {
            width: 100%;
            aspect-ratio: 1/1;
        }

    .menu-pc {
        display: none;
    }

    .espaco-header {
        height: 65px;
    }

}

