* {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
h1, h2, a, p, span,  button,input {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    width: 100%;
    height: 120px;
    background-color: #215ACC;
    display: flex;
    z-index: 9999;
    position: fixed;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
header span{
    font-size:2vw;
}
.logo {
    width: 10vw;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.logo  img{
    width:100%;
}

.menu-pc {
    display: flex;
    width: 70%;
    align-items: center;
    margin-right: 5%;
}

    .menu-pc div a {
        color: white;
        text-decoration: none;
        font-family: anton;
        font-size: 30px;
    }

        .menu-pc div a:hover {
            color: #ededed;
        }


.espaco-header {
    width: 100%;
    height: 120px;
}


@media (max-width: 480px) {
       
}






.tabela {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

    .tabela th, .tabela td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .tabela th {
        background-color: royalblue;
        color: white;
        font-weight: bold;
        text-align: left;
    }

    .tabela tbody tr.linha {
        background-color: #f8f8f8;
    }

    .tabela tbody tr.linhaAlt {
        background-color: #e9f1ff;
    }

    .tabela tbody tr:hover {
        background-color: #d6e4ff;
    }

    /* Para quando não há linhas */
    .tabela tbody:empty::before {
        content: "Nenhum registro encontrado";
        display: table-row;
        color: #555;
    }
