.container-crud {
    width: 90vw;
    height: 40vw;
    margin-top: 3vh;
    background-color: #e5e5e5;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-crud {
    width: 100%;
    height: 10%;
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
}

.area-grid {
    width: 100%;
    height: 70%;
}

.botoes-crud {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

    .botoes-crud input{
        width:12vw;
        height: 4vw;
        border-radius: 10px;
        font-size: 1.5vw;
        cursor: pointer;
    }

.btnAdd {
    background-color: #C0D9FF;
}
.btnEdit {
    background-color: #FFFFC0;
}
.btnInativar {
    background-color: #FFC0C0;
}
.btnRestaurar {
    background-color: #CBFFC0;
}


/* Oculta o botão Select (primeira coluna do GridView) */
.tabela td:first-child,
.tabela th:first-child {
    display: none;
}





/*confirgurações que estavam no geral.css*/


.grid-area-fixa{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tabela {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 1vw;
}

    .tabela th, .tabela td {
        padding: 0.3vw;
        text-align: left;
        white-space: nowrap;
        padding-right: 30px;
    }

    .tabela th {
        background-color: royalblue;
        color: white;
        font-weight: bold;
    }

    .tabela tbody tr.linha {
        background-color: #f8f8f8;
    }

    .tabela tbody tr.linhaAlt {
        background-color: #e9ecf2;
    }

    .tabela tbody tr.linha-selecionada {
        background-color: #fff6c7;
        border: solid 3px #ffd84d;
    }

    .tabela tbody tr:hover {
        background-color: #d6e4ff;
    }

    .tabela tbody tr.linha-selecionada:hover {
        background-color: #ffe870;
        border: solid 3px #facf34;
    }

    /* Para quando não há linhas */
    .tabela tbody:empty::before {
        content: "Nenhum registro encontrado";
        display: table-row;
        color: #555;
    }





@media (max-width: 480px) {
    .container-crud {
        height: 50vh;
        border-radius: 10px;
    }

    .titulo-crud{
        height: 7%;
        font-size: 5vw;
    }

    .botoes-crud {
        height: 15%;
    }

        .botoes-crud input {
            width: 20vw;
            height: 5vw;
            border-radius: 5px;
            font-size: 3vw;
        }



    .tabela {
        font-size: 3vw;
    }

        .tabela th {
            padding-right: 20px;
        }
}