*{
    margin:0 auto;
}
.painel {
    margin: 10vh auto;
    width: 64vw;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    justify-content: space-evenly;
    border-radius: 2vw;
    height:auto;
}
h1, h2, a, p, span, button, input {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200px;
        font-style: normal;
}
.painel h1{
    font-size:2.5vw;
}
.painel-section{
    height:10vh;
    width:50vw;
}
.painel-section input{
    width:100%;
    font-size:1.5vw;
}
.painel-section  h2{
    font-size:1.6vw;
}

.painel-btn {
    font-size: 2vw;
    margin: 1vh auto;
    background-color: #89AAED;
    border:5px solid  black;
    border-radius:1vw;
    width:10vw;
}

    .painel-btn:hover {
        background-color: #4e628a;
        cursor:pointer;
    }