main { /*fundo da página, branco*/
    padding: 2vw 0;
    height: auto;
    background-color: #ffffff;
}

/* configs  painel*/
.painel { /*caixa que contém  os  cards  de páginas  (Produtos, Clientes, Pedidos, etc)*/
    width: 64vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    background-color: #D9D9D9;
    justify-content: space-evenly;
    border-radius: 3vw;
}

.painel h1 {
    font-size: 3.5vw;
}
    /*configs botão Sair*/
    .painel input {
        margin:2vh 0;
        font-size:2vw;
        width:8vw;
        border-radius:30px;
        background-color: tomato;
        cursor:pointer;
    }
        .painel input:hover {
            text-decoration: underline;
            background-color: #cf4f46;
        }
        /*fim configs botão  sair*/

/*fim configs painel*/

.painelLinha { /*linha  de cards*/
    padding-top:3vh;
    display: flex;
    gap: 2vw;
}

/*configs  cards  de páginas*/
.celula {
    flex: 1;
    text-align: center;
    background-color: #B2B2B2;
}
.celula a{
    text-decoration: none;
    color:black;
}
.celula img{
    width:16vw;
    height:auto;
}
.celula h2{
    font-size: 2.5vw;
}
/*fim configs cards*/